<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script type="text/javascript">var style_group = "ws_style";</script>
  <link rel="stylesheet" type="text/css" href="/css/yotsubluenew.614.css">
  <script type="text/javascript" data-cfasync="false" src="/js/core.1011.js"></script>
  <script type="text/javascript" data-cfasync="false" src="/js/extension.1071.js"></script>
  <link rel="shortcut icon" href="/image/favicon-ws-deadthread.ico" type="image/x-icon">
</head>
<body class="tomorrow ws">
  <div class="board">
    <div id="boardNavDesktop" class="desktop"><span id="navtopright">[<a href="javascript:void(0);" id="settingsWindowLink">Settings</a>]</span></div>
    <div id="boardNavMobile" class="mobile"> <div class="boardSelect"> <strong>Board</strong> <select id="boardSelectMobile"></select> </div> <div class="pageJump"> <a href="#bottom">▼</a> <a href="javascript:void(0);" id="settingsWindowLinkMobile">Settings</a> <a href="http://www.4chan.org" target="_top">Home</a> </div></div>
    <div class="thread" id="t{{ posts[0].no }}">
      {% for post in posts %}
        {% if loop.index is equalto 1 %}
          <div class="postContainer opContainer" id="pc{{ post.no }}">
            <div id="p{{ post.no }}" class="post op">
              <div class="file" id="f{{ post.no }}">
                <div class="fileText" id="fT{{ post.no }}">File: <a href="images/{{ post.tim }}{{ post.ext }}" target="_blank">{{ post.filename|truncate(30, true, '(...)') }}{{ post.ext }}</a> ({{ post.fsize|filesizeformat }}, {{ post.h }}x{{ post.w }})</div>
                <a class="fileThumb" href="images/{{ post.tim }}{{ post.ext }}" target="_blank">
                  <img src="thumbs/{{ post.tim }}s.jpg" alt="{{ post.fsize|filesizeformat }}" data-md5="{{ post.md5 }}" style="height: {{ post.tn_h }}px; width: {{ post.tn_w }}px;">
                </a>
              </div>
              <div class="postInfo desktop" id="pi{{ post.no }}">
                <input type="checkbox" name="" value="delete" />
                <span class="subject">{% if post.sub is defined %}{{ post.sub }}{% endif %}</span>
                <span class="nameBlock"><span class="name">{{ post.name }}</span>
                <span class="dateTime" data-utc="{{ post.time }}">{{ post.now }}</span>
                <span class="postNum desktop">
                  <a href="#p{{ post.no }}" title="Link to this post">No.</a>
                  <a href="" title="Reply to this post">{{ post.no }}</a>
                </span>
              </div>
              <blockquote class="postMessage" id="m{{ post.no }}">{{ post.com }}</blockquote>
            </div>
          </div>
        {% else %}
          <div class="postContainer replyContainer" id="pc{{ post.no }}">
            <div class="sideArrows" id="sa{{ post.no }}">&gt;&gt;</div>
            <div id="p{{ post.no }}" class="post reply">
              <div class="postInfo desktop" id="pi{{ post.no }}">
                <input type="checkbox" name="" value="delete" />
                <span class="nameBlock"><span class="name">{{ post.name }}</span>
                <span class="dateTime" data-utc="{{ post.time }}">{{ post.now }}</span>
                <span class="postNum desktop">
                  <a href="#p{{ post.no }}" title="Link to this post">No.</a>
                  <a href="" title="Reply to this post">{{ post.no }}</a>
                </span>
              </div>
              {% if post.filename is defined %}
                <div class="file" id="f{{ post.no }}">
                  <div class="fileText" id="fT{{ post.no }}">File: <a href="images/{{ post.tim }}{{ post.ext }}" target="_blank">{{ post.filename|truncate(30, true, '(...)') }}{{ post.ext }}</a> ({{ post.fsize|filesizeformat }}, {{ post.h }}x{{ post.w }})</div>
                  <a class="fileThumb" href="images/{{ post.tim }}{{ post.ext }}" target="_blank">
                    <img src="thumbs/{{ post.tim }}s.jpg" alt="{{ post.fsize|filesizeformat }}" data-md5="{{ post.md5 }}" style="height: {{ post.tn_h }}px; width: {{ post.tn_w }}px;">
                  </a>
                </div>
              {% endif %}
              <blockquote class="postMessage" id="m{{ post.no }}">{{ post.com }}</blockquote>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</body>
